<div class="content">
<div class="panel panel-default">
  <div class="page-header">
    <h3>Liste des données</h3>
  </div>

  <div class="list-group">
    <div class="row">
      <div class="col-xs-7">
        <label for="search">Nom du fichier sans extension :</label>
        <input ng-model="titre" class="form-control search-field"
               placeholder="Ex : Car342009-2023-Pass2-Z2-008558_0_20140805_211338_729">
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        <label for="search">Nombre de résultats par page :</label>
        <input type="number" class="form-control max-results-field" ng-model="lookup.max_results">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <label for="taxon_tadarida">Taxon tadarida :</label>
        <div class="input-group col-xs-12">
          <ui-select ng-model="tadarida_taxon.id"
                     theme="bootstrap"
                     append-to-body>
            <ui-select-match>
              {{$select.selected.libelle_court}}
            </ui-select-match>
            <ui-select-choices repeat="taxon._id as taxon in filteredTaxons | filter: $select.search">
              {{taxon.libelle_court}}
            </ui-select-choices>
          </ui-select>
          <span class="input-group-addon"
                ng-click="tadarida_taxon.id = null"
                ng-show="lookup.tadarida_taxon">
            <span class="fa fa-close"></span>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <label for="search">Probabilité égale à : </label>
        <input ng-model="probabilite" class="form-control search-field"
               placeholder="test"> <!-- En cours d'ecriture (pour l'instant c'est le code du nb par page)-->
      </div>
      <div class="col-xs-4">
        <label for="search">Probabilité supérieure à :</label>
        <!-- En cours d'ecriture -->
        <input ng-model="probabilite" class="form-control search-field"
               placeholder="0">
      </div>
      <div class="col-xs-4">
        <label for="search">Probabilité inférieure à :</label>
        <!-- En cours d'ecriture -->
        <input ng-model="probabilite" class="form-control search-field"
               placeholder="1">
      </div>
    </div>
    <br>
  </div>

  <list-resource-directive resource-backend="resourceBackend"
                           lookup="lookup"
                           others="others"
                           custom-update-resources-list="updateResourcesList">
    <display-donnee-directive donnee="resource"
                              is-observateur="isObservateur"
                              is-validateur="isValidateur"
                              taxons="taxons">
    </display-donnee-directive>
  </list-resource-directive>
</div>
</div>