<div class="content">
<a class="btn btn-default" href="#/protocoles/{{protocole._id}}" target="_blank">
  Voir le protocole {{ protocole.titre }}
</a>
<a class="btn btn-default" href="#/sites/{{site._id}}" target="_blank">
  Voir le site {{ site.titre }}
</a>

<div class="alert alert-danger" ng-show="submitError">
  La participation n'a pas pu être sauvegardée.
</div>

<edit-participation-directive participation="participation"
                              type-site="protocole.type_site"
                              site="site">
</edit-participation-directive>

<sc-button class="save-participation btn btn-primary"
           ng-click="save()"
           label="'Sauvegarder'"
           wait-for-class="fa fa-spinner fa-spin"
           cancel-wait-for="saveDone">
</sc-button>
</div>