<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        Avant d'uploader
      </h4>
    </div>
    <div>
        <p>
            Si vous prévoyez de valider ces sons manuellement par la suite, n’oubliez pas de 
            <a href="https://docs.google.com/presentation/d/1SlcknLZpedSJx46Cu9I0IQKqhkD8sVRaEqYsk5daIDw/edit#slide=id.p" target="_blank"> 
                les découper en durées maximales de 5 secondes
            </a>
            avant de les charger, sinon les noms de fichier ne correspondront plus ! 
        </p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeModal()">J'ai compris</button>
    </div>

</div>

