<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="content">
<div class="container">
  <div class="page-header">
    <h3>{{ title }}</h3> 
    <a href="#/participations{{ swap.value }}">
      <h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        {{ swap.title }}
      </h5>
    </a>
  </div>

  <div class="list-group">
    <div class="row">
      <div class="col-xs-8">
<!--          <label for="search">Filtre :</label>
          <input ng-model="filter" id="search" class="form-control"
                 placeholder="texte">-->
      </div>
      <div class="col-xs-4">
          <label for="search">Nombre de résultats par page :</label>
          <input type="number" class="form-control" ng-model="itemsPerPage">
      </div>
    </div>
  </div>

  <list-resource-directive resource-backend="resourceBackend" lookup="lookup">
    <a ng-href='#/participations/{{resource._id}}'>
      Participation du {{ resource.date_debut | xinDate: 'short' }}
    </a>
    <span class="pull-right"
          ng-show="resource.observateur && resource.observateur._id == user._id">
      <span class="label label-success">
        Participant
      </span>&nbsp;<span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
    <span class="pull-right"
          ng-show="resource.observateur && resource.observateur._id != user._id">
      <span class="label label-primary">
        {{ resource.observateur.pseudo }}
      </span>&nbsp;<span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
    <span class="pull-right"
          ng-show="!resource.observateur">
      <span class="label label-primary">
        {{resource.site.titre}}
      </span>
    </span>
  </list-resource-directive>

  <div class="text-center" ng-show="isAdmin">
    <a class="btn btn-default" href="#/participations/nouveau">
      Nouveau participation
    </a>
  </div>
</div>
</div>